<section class="card">
  <a href="/dashboard/blog/{{id}}">
    <header>
      <span class="blogtitle">{{title}}</span>
      <span class="blogdate">
        Posted by {{user.username}} on {{format_date blog_date}}
      </span>
    </header>
    <p class="content">{{content}}</p>
  </a>
</section>